@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* seafoam theme */
@font-face {
	font-family: 'Playfair Display';
	src: url('/fonts/PlayfairDisplay-Italic.ttf');
	font-display: swap;
}
/* vintage theme */
@font-face {
	font-family: 'Abril Fatface';
	src: url('/fonts/AbrilFatface.ttf');
	font-display: swap;
}
/* gold-nouveau theme */
@font-face {
	font-family: 'Quicksand';
	src: url('/fonts/Quicksand.ttf');
	font-display: swap;
}


    .ec-day.ec-today {
    background-color: transparent !important;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani-SemiBold.ttf');
	font-weight: 600;
	font-display: swap;
}

@font-face{
	font-family: 'Lato';
	src: url('/fonts/Lato-Regular.ttf');
	font-weight: 400;
	font-display: swap;
}

@font-face{
	font-family: 'Lato';
	src: url('/fonts/Lato-Light.ttf');
	font-weight: 300;
	font-display: swap;
}

@font-face{
	font-family: 'Lato';
	src: url('/fonts/Lato-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: 'Rajdhani';
	src: url('/fonts/Rajdhani-Bold.ttf');
	font-weight: 700;
	font-display: swap;
}


h1{
	font-family: 'Rajdhani', sans-serif;
}

.text-uvu-green{
	color: #275D38;
}

.bg-uvu-green{
	background-color: #275D38;
}


nav.ec-toolbar{
	display: none;
}

div.ec-all-day{
	display: none;
}

div.ec-header{
	min-height: 32px;
	max-height: 32px;
}

.font-primary{
	font-family: 'Rajdhani';
	font-weight: 400;
}

.font-primary-semibold{
	font-family: 'Rajdhani';
	font-weight: 600;
}

.font-primary-bold{
	font-family: 'Rajdhani';
	font-weight: 800;
}

.ec-time-grid .ec-time, .ec-time-grid .ec-line {
  height: 30px !important; 
  	text-align: right;
	padding: 0px 8px 0px 0px;
	
}


.ec-time{
	background-color: #F9F9F9;
	width: 94px;

}

.ec-time-grid .ec-lines {
  width: 0px !important;
}

div.ec-sidebar{
	padding: 0;
}

.ec-time-grid .ec-time{
	top: 0px !important;
}

 .ec-time[datetime$="T07:00:00"]::before {
    content: "7:00 AM";
  }
